#quiz_shell{
    width:700px;
    height:120px;
    position: relative;;
    background-color: aqua;
}

#hint_01_01{
    width:700px;
    height:30px;
    position: relative;;
    background-color: dimgray;

}
#hint_01_02{
    width:700px;
    height:150px;
    position: relative;;
    background-color: gold;
}

#question_4{
    width:700px;
    height:700px;
    position: relative;;
    background-color: white;
    text-align: center;
    line-height: 50%;
    border: solid;
    border-color: #000000;
}
/*もんだい　４　の　こたえは　「うめぼし」　だよ*/