#header {
  position: fixed;
  top: 0;
  left:0;
  margin-top: 0px;
  width: auto;
  height: auto;
  background-color : #ffffff;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#mainpage {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Raleway', sans-serif;
  padding: 2em;
}

#mainpageL {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Raleway', sans-serif;
  padding: 0em;
}

#pictext a{
  color: #ffffff;
  font-weight: bold;
}

#midashi {
  color: #38b48b;
  font-weight: bold;
  font-size: large;
}

#midashi_notif {
  color: #824880;
  font-weight: bold;
  font-size: large;
}

.a {
  color: #0095d9;
}

html, body{
  height: 100%;
  margin: 0em;
}

#pagebase{
  /*にっこり*/
}

#midashi2 {
  color: #f08300;
  font-weight: bold;
  font-size: medium;
}

#add-title {
  font-size: x-large;
}

#topic {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: #ff0000;
}

#hide_link a{
  color:#ffffff;
  font-style: normal;
}

#pancake20201026 {
  display: none;
}

#nextpic {
  background-color: darkcyan;
  color:            aliceblue;
  font-size:        200%;
  width:            100%;
  height:           75px;
  text-align:       center;
}

#prevpic {
  background-color: darkcyan;
  color:            aliceblue;
  font-size:        200%;
  width:            100%;
  height:           75px;
  text-align:       center;
}

#aboupic {
  background-color: indigo;
  color:            aliceblue;
  font-size:        200%;
  width:            100%;
  height:           75px;
  text-align:       center;
}

#yt-channel {
  background-color: red;
  color:            black;
  font-size:        100%;
  width:            100%;
  text-align:       center;
  border:           2px solid;
  border-color:     black;
}

#nc-community {
  background-color: white;
  color:            black;
  font-size:        100%;
  width:            100%;
  text-align:       center;
  border:           2px solid;
  border-color:     black;
}

#tw-account {
  background-color: deepskyblue;
  color:            black;
  width:            100%;
  text-align:       center;
  border:           2px solid;
  border-color:     black;
}