#header {
  position: fixed;
  top: 0;
  left:0;
  margin-top: 0px;
  width: auto;
  height: auto;
  background-color : #ffffff;
}

@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#mainpage {
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Raleway', sans-serif;
  padding: 2em;
}


#midashi {
  color: #38b48b;
  font-weight: bold;
  font-size: large;
}

.a {
  color: #0095d9;
}

html, body{
  height: 100%;
  margin: 0em;
}

#pagebase{
  height: 100vh;
}

#midashi2 {
  color: #f08300;
  font-weight: bold;
  font-size: medium;
}

#add-title {
  font-size: x-large;
}
/*
見てもらえれば分かる通り、なぜかZerosaka Diaryを編集しつつマイフェスについて思考をめぐらしている
ってかリニューアルナウ
CSSはいいぞ☆
今自信を持って言えるぞ
非常に悲しき
こんにちは、マリファナです？（難聴）
これ終わったら全部消すから...
リニューアルついでに独立ページ化してなかったやつ独立ページ化してる
なんかVSCodeが壊れ始めてカラーコードのとこの四角が変なとこに出てくるようになったから寝る
うそ
VSCode落とすだけ
*/