#notif01{
    line-height: 200%;
}
#notif02{
    line-height: 200%;
}
#notif03{
    line-height: 200%;
}
#notif04{
    line-height: 200%;
}
#pictext{
    position: absolute;
    width: 67%;
    top: 25%;
    left: 0;
    text-align: right;
    color: white;
}
#backpic{
    position: relative;
    width: 800px;
}