#gradation {
  background:       linear-gradient(to right, dodgerblue, mediumvioletred);
  color:            white;
  width:            100%;
  text-align:       center;
  border:           2px solid;
  border-color:     black;
}

#nextpic {
  font-size:        200%;
  width:            5%;
  text-align:       center;
  float:            right;
}

#prevpic {
  font-size:        200%;
  width:            5%;

}

#piccccc {
  width:            90%;
  float:            right;
}

#topmenu {
  width:            100%;
}

#aboupic {
  background-color: indigo;
  color:            aliceblue;
  font-size:        200%;
  width:            80%;
  height:           75px;
  text-align:       center;
  vertical-align:   middle;
}

#yt-channel {
  background-color: red;
  color:            black;
  font-size:        100%;
  width:            24%;
  text-align:       center;
  border:           2px solid;
  border-color:     black;
  float:            left;
}

#nc-community {
  background-color: white;
  color:            black;
  font-size:        100%;
  width:            24%;
  text-align:       center;
  border:           2px solid;
  border-color:     black;
  float:            left;
}

#tw-account {
  background-color: deepskyblue;
  color:            black;
  width:            24%;
  text-align:       center;
  border:           2px solid;
  border-color:     black;
  float:            left;
}

#channelsbox {
  overflow:         hidden;
  width:            100%;
}